
* {
  margin: 0;
}

.App {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
}

.main-title {
  text-align: center;
  padding: 20px;
}

.main-content {
}

.location {
  padding: 5px 10px;
  color: rgba(0, 0, 255, 0.644);
  display: flex;
  align-items: baseline;
}

.city {
  font-size: 24px;
  margin-right: 10px;
}

.country {
  font-size: 18px;
}

.local-time {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  color: rgba(0, 0, 255, 0.644);
}

.weather-description {
  display: flex;
  justify-content: start;
  padding: 5px 10px;
}

.weather-icon {
  min-width: 150px;
  border-radius: 10px 0 0 10px;
  border: 1px solid rgba(0, 0, 255, 0.644);
  border-right: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.247);
}

.weather-items-ctnr {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 10px;
  text-align: left;
  font-size: 14px;
  border-radius: 0 10px 10px 0;
  border: 1px solid rgba(0, 0, 255, 0.644);
  border-left: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.247);
  background: white;
}

.weather-item {
  padding: 2px 0;
}
